$yellow: #ffcc00;
$gold: #8E7923;
$brown: #825a00;
$dark-brown: #321500;
$dark-grey: #2A2A2C;
$light-blue: rgb(27, 49, 71);
$dark-blue: #0c2032;
$header-height: 30px;


$text-color: #FFFFFF;
$footer-background: $dark-blue;
